:root {
  --color_main: #75a47f;
  --color_second: #bacd92;
  --color_third: #f5dad2;
  --color_forth: #fcffe0;
}

body {
  background: linear-gradient(
    90deg,
    var(--color_main) 0%,
    var(--color_second) 15%,
    var(--color_second) 85%,
    var(--color_main) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  overflow-x: hidden;
}

.project-card {
  background-color: var(--color_third);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5in;
  width: 2.5in;
  border: 3px solid var(--color_main);
  border-radius: 15px;
  color: var(--color_forth);
  position: relative;
  z-index: 1;
  transition-property: rotate translate scale;
  transition-duration: 0.2s;
}

.project-card:hover {
  transform: translate(0, -5rem);
  transition-duration: 0.5s;
}

.project-title {
  position: relative;
  text-align: left;
  border: 3px solid var(--color_second);
  border-radius: 18px;
  width: 100%;
  background-color: var(--color_main);
  left: -8px;
  top: -8px;
  z-index: 1;
  margin: 0;
  padding: 0.3rem;
  pointer-events: none;
}

.project-tags {
  position: relative;
  text-align: left;
  border: 3px solid var(--color_second);
  border-radius: 18px;
  width: 100%;
  background-color: var(--color_main);
  left: -8px;
  top: -20px;
  z-index: 1;
  margin: 0;
  padding: 0.3rem;
  pointer-events: none;
}

.project-description {
  position: relative;
  text-align: left;
  padding: 0.3rem;
  top: -36px;
  pointer-events: none;
}

.project-card-content {
  text-align: left;
  background-color: var(--color_main);
  border: 3px solid var(--color_second);
  width: 91%;
  height: 91%;
  pointer-events: none;
}

.project-thumbnail {
  object-fit: cover;
  position: relative;
  top: -12px;
  border-top: 4px solid var(--color_second);
  border-bottom: 4px solid var(--color_second);
  width: 100%;
  height: 1.5in;
  pointer-events: none;
}

.project-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  overflow-y: hidden;
  background-color: darkgray;
  width: 80vw;
  overflow: hidden;
  border: 3px solid var(--color_forth);
}

.project-list {
  position: relative;
  display: flex;
  flex-direction: row;
}

@keyframes expose {
  0% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, -300px);
  }
}

/* .exposed {
  transform: rotate(-15deg) translate(-80px, -400px) scale(1.2, 1.2);
} */

/* .wiggle-on-hover:hover {
  animation: pop_small 0.2s linear 0s 1 normal both,
    wiggle 0.5s linear 0s infinite;
} */
